# Entornos virtuales (Python)
venv/
env/
.venv/
.python-version

# Python / Django
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Node / React
node_modules/
dist/
build/
.eslintcache
npm-debug.log*

# Supabase & Deno (Edge Functions)
.supabase/
supabase/.temp/
deno.lock

# SEGURIDAD (Crítico)
.env
.env.local
.env.*.local
credenciales/
# Archivos de texto temporales (pero NO requirements.txt)
usuarios_y_claves.txt
nuevo_mapa.txt

# README siempre permitido
!README.md
!requirements.txt

# Archivos de configuración personal (VS Code)
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db